
{% extends 'base.html.twig' %}
{% block meta_title %}Book List{% endblock meta_title %}
{% block main_book %}
        <div class="list_book">
            {% for book in books %}
                <div class="listed_book">
                    <h1 class="h1_list">{{ book.title }}</h1>
                    {% if book.author %}
                        <p class="author_list">{{ book.author.FirstName }} {{ book.author.LastName }}</p>
                    {% endif %}
                    <a class="a_list" href="{{ path('admin_book',{'id': book.id}) }}">Voir Plus</a>
                    <br>
                    <a class="a_list" href="{{ path('admin_book_remove',{'id': book.id}) }}">Supprimer</a>
                    <br>
                    {#je crée le lien et le reliant bien grace a path a ma page update twig tout en restant dépandant de lid = wild card ('id': book.id) #}
                    <a class="a_list" href="{{ path('admin_book_update',{'id': book.id}) }}">Update</a>
                    <br>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock main_book %}
