{% extends 'base.html.twig' %}
{% block meta_title %}Home{% endblock meta_title %}
{% block main_book %}
        <div class="home_book">
            {% for book in books %}
                <div class="home_book">
                    <div class="homed_book">
                        <h1 class="h1_list">{{ book.title }}</h1>
                        {% if book.author %}
                            <p class="author_list">{{ book.author.FirstName }} {{ book.author.LastName }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    <div class="home_book">
        {% for author in authors %}
            <div class="home_book">
                <div class="homed_book">
                    <h1 class="h1_list">{{ author.FirstName }}</h1>
                    <p class="author_list">{{ author.LastName }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
 {% endblock main_book %}